<div class="ui segment main-card">
  <div class="ui grid">
    <div class="sixteen wide column ">
      <div class="main-text">
        <h1>Describe what are you selling</h1>
      </div>
    </div>
    <div class="sixteen wide mobile  sixteen wide tablet seven wide computer column listing-cat">
      <div class="ui form ">
        <div class="field">
          <label>Listing title</label>

          <div class="field">
            <input type="text" name="" class="list-title" placeholder="Listing title">
          </div>
        </div>

        <div class="field">
          <label>Select a Category</label>
          <select class="ui fluid dropdown">
            <option value="">Category</option>
            <option value="AL">Mobile phone</option>

          </select>
        </div>
        <div class="action-set">
          <button class="ui labeled icon button" (click)="stepOne()">
            <i class="left arrow icon"></i>
            Back
          </button>
          <button class="ui right labeled icon button teal btn-next">
            <i class="right arrow icon"></i>
            Next
          </button>
        </div>

      </div>
    </div>
  </div>
</div>