

.main-text {
  margin: 1rem 0 0 2rem;
  h1 {
    font-size: 3rem;
    font-weight: 800;
  }
}

.list-title{
    width: 100% !important;
}
.main-card{
  padding: 30px;
}

.listing-cat{
    margin: auto !important
}
.action-set{
    float: right;
}