<div class="ui grid">
    <div class="six wide column black">
      <img src = "../assets/images/buy.jpg" style="width:540px" height="630px">
    </div>
    <div class="ten wide column ui segment">
        <div class="ui form ">
            <h1 class="ui dividing header center aligned">User Registration</h1>
            <div>
                <div class="two fields">
              <article>
                  
                <h4><span>Select Your User Type:</span></h4>
                <select (change)="selectChangeHandler($event)" [(ngModel)]="user.type">
                    <option value="Consumer">Consumer</option>
                    <option value="Producer">Producer</option>
                    
                </select>
                <!-- <p><span>You selected: </span><b>{{selectedDay}}</b></p> -->
            </article>
            </div>
          </div>
            <div class="field">
              <label>Contacts</label>
              <div class="two fields">
                <div class="field">
                  <input type="text" name="E-mail" placeholder="E-mail" [(ngModel)]="user.email" >
                </div>
                <div class="field">
                  <input type="number" name="Telephone" placeholder="Telephone" [(ngModel)]="user.PhoneNumber">
                </div>
              </div>
            </div>
            <div class="field">
              <label>Password</label>
              <div class="two fields">
                <div class="field">
                  <input type="password" name="Password" placeholder="Password" [(ngModel)]="user.password">
                </div>
                <div class="field">
                  <input type="password" name="CPassword" placeholder="Confirn Password" [(ngModel)]="confirmPassword">
                </div>
              </div>
            </div>
            <div class="field">
              <label> Address</label>
              <div class="fields">
                <div class="twelve wide field">
                <input type="text" name="StreetAddress" placeholder="Street Address" [(ngModel)]="user.Address">
                </div>
                
              </div>
            </div>
            <div class="field">
              <label>Name</label>
              <div class="two fields">
                <div class="field">
                  <input type="text" name="FirstName" placeholder="First Name / Company Name" [(ngModel)]="user.Name">
                </div>
               
              </div>
              <div>
                  <div class="two fields">
                <article>
                    
                  <h4><span>Select your catagory : ( If Only Producer )</span></h4>
                  <select (change)="selectChangeHandler($event)"[(ngModel)]="user.catagory">
                      <option value="Food">Food</option>
                      <option value="Property">Property</option>
                      <option value="Book">Book</option>
                      <option value="Electronic">Electronic</option>
                      <option value="Antique">Antique</option>
                  </select>
                  <!-- <p><span>You selected: </span><b>{{selectedDay}}</b></p> -->
              </article>
              </div>
            </div>
            <div class="actionset">
                <button class="ui button" type="reset">Cancel</button>
                <button class="ui button teal" type="submit" (click)=' signupUser()' >SignUp</button>
            </div>
        </div>
      
      </div>
  </div>





