<div class="container-fluid">
  <div class="ui grid menu ">
    <div
      class="sixteen wide mobile eight wide tablet  wide computer column center aligned"
    >
      <img src="" alt="" />
    </div>
    
    <div
      class="sixteen wide mobile  five wide tablet sixteen wide computer column right aligned middle aligned"
    >
      <div class="current-user">
        Hi Chanuka! <span (click)="loginUser()"> Signin</span>
      </div>
    </div>
    <div class="sixteen wide column search-div">
      <div class="ui action input fluid">
        <input type="text" placeholder="Search..." class="search-input" />
        <select class="ui compact selection dropdown ">
          <option value="articles">In all categories</option>
          <option value="all" class="jj">All</option>
          <option value="Foods">Foods</option>
          <option value="property">Property</option>
          <option value="Books">Books</option>
          <option value="Antiques">Antiques</option>
        </select>
        <div class="ui button orange"><i class="search icon"></i></div>
      </div>
    </div>
    <div class="ui grid menu-div">
      <div class="five column row">
        <div class="column menu-div-item">
          <button class="fluid ui button brown">Electronic</button>
        </div>
        <div class="column menu-div-item">
          <button class="fluid ui red button">Foods</button>
        </div>
        <div class="column menu-div-item">
          <button class="fluid ui orange button">Property</button>
        </div>
        <div class="column menu-div-item">
          <button class="fluid ui teal button">Antiques</button>
        </div>
        <div class="column menu-div-item">
          <button class="fluid ui green button">Books</button>
        </div>
      </div>
    </div>
    
  </div>
  <div class="ui grid menu sixteen wide column ">
      <button class="fluid ui green button">New Arrivals</button>
      <div class="ui small images">
        
          <img src="../assets/images/rrr.jpeg">
          <img src="../assets/images/got_book2.png">
          <img src="../assets/images/img2.png">
          <img src="../assets/images/img3.jpeg">
          <img src="../assets/images/image2.png">
          <img src="../assets/images/A1.png">
          <img src="../assets/images/f1.png">
          <img src="../assets/images/f2.png">
        </div>
       
      </div>
  
</div>
