.ui.dropdown {
  margin-left: 20px;
  font-size: 1.3rem;
  color: #0277bd;
  font-weight: bolder;
}

.current-user {
  font-size: 1.2rem;

  span {
    &:hover {
      cursor: pointer;
      color: lighten($color: #039be5, $amount: 6);
    }
    margin-left: 10px;
    color: #039be5;
  }
}

.search-div {
  padding: 0.5rem !important;
  background: #ffca28;
}
.search-input {
  max-width: 400px !important;
}

.menu-div {
  margin: 0;
}

.ui.grid.menu-div {
  width: 100% !important;
  .menu-div-item {
    padding: 1px;
  }
}
.righconer{
  float: right;
}