.main-input {
  border-bottom: 1px solid #0277bd !important;
  padding: 10px;
  input {
    font-size: 3rem;
  }
}

.main-text {
  margin: 2rem 0 0 2rem;
  h1 {
    font-size: 4rem;
    font-weight: 800;
  }
}

.sug-text {
  margin: 2rem 0 0 2rem;
  h1 {
    font-size: 3rem;
    font-weight: 800;
  }
}

.sug-input {
  input {
    font-size: 2rem;
  }

  i {
    font-size: 2rem;
  }
}
.text-search {
  font-size: 3rem;
  text-align: center;
  background: transparent;
  padding: 0 !important;
  &:hover {
    background: transparent;
    color: lighten($color: #000000, $amount: 5);
  }
}

.sug-cat {
  p {
    font-size: 1.5rem;
  }
  background: transparent;
}

.ui.vertical.menu.all-cat {
  margin: 20px auto 0 auto !important;
}

.all-cat-text {
  margin: 10px;
  text-align: center;
  h1 {
    font-size: 1.5rem;
  }
}
