<div class="container-fluid ">
  <div class="ui segment">
    <div class="ui grid" *ngIf="step1">
      <div class="sixteen wide column ">
        <div class="main-text">
          <h1>Describe what are you selling?</h1>
        </div>
      </div>
      <div class="sixteen wide column center aligned ">
        <div class="ui action transparent input main-input">
          <input type="text" placeholder="Type anything..." [(ngModel)]="mainInput" />
          <button class="ui icon button middle aligned text-search" (click)="changestep()">
            <i class="arrow right icon"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="ui grid" *ngIf="step2">
      <div class="sixteen wide column ">
        <div class="sug-text">
          <h1>Suggested categories</h1>
        </div>
      </div>
      <div class="sixteen wide column center aligned ">
        <div class="ui labeled input transparent sug-input">
          <div class="ui label sug-cat">
            <p>Motor > Car</p>
          </div>
          <input type="text" placeholder="mysite.com" [(ngModel)]="mainInput" />
        </div>
        <div>
          <button class="ui labeled blue icon button" (click)="changestep()">
            <i class="left arrow icon"></i>
            Back
          </button>
          <button class="ui right labeled icon button blue">
            <i class="right arrow icon"></i>
            Next
          </button>
        </div>
      </div>
    </div>

    <div class="sixteen wide column center aligned " [style.visibility]="step2 ? 'visible' : 'hidden'">
      <div class="all-cat-text">
        <h1>All categories</h1>
      </div>
      <div class="ui vertical menu all-cat">
        <a class="item">
          Home
        </a>
        <div class="ui left pointing dropdown link item">
          <i class="dropdown icon"></i>
          Messages
          <div class="menu">
            <div class="item">Inbox</div>
            <div class="item">Starred</div>
            <div class="item">Sent Mail</div>
            <div class="item">Drafts (143)</div>
            <div class="divider"></div>
            <div class="item">Spam (1009)</div>
            <div class="item">Trash</div>
          </div>
        </div>
        <a class="item">
          Browse
        </a>
        <a class="item">
          Help
        </a>
      </div>
    </div>
  </div>
</div>