<div class="ui segment">
  <div class="ui grid">
    <div class="sixteen wide column ">
      <div class="sug-text">
        <h1>Suggested categories</h1>
      </div>
    </div>
    <div class="sixteen wide column center aligned ">
      <div class="ui labeled input transparent sug-input">
        <div class="ui label sug-cat">
          <p>Motor > Car</p>
        </div>
        <input type="text" placeholder="mysite.com" [(ngModel)]="cat" />
      </div>
      <div>
        <button class="ui labeled blue icon button" (click)="changestep()">
          <i class="left arrow icon"></i>
          Back
        </button>
        <button class="ui right labeled icon button blue">
          <i class="right arrow icon"></i>
          Next
        </button>
      </div>
    </div>
  </div>
</div>