

.main-text {
  margin: 1rem 0 0 2rem;
  h1 {
    font-size: 3rem;
    font-weight: 800;
  }
}


.ui.avatar.image{
    width: 70px;
    height: 30px;
    padding-right: 10px;

}

.listing-list{
    margin:  0 auto 200px auto;
    .item{
      margin-top: 15px;
    }
    .btn-next{
      margin-top: 15px;
      float: right;
    }
}

.main-card{
  padding: 30px;
}
.sub-text{
  margin-left: 40px;
}

.list-name{
  font-size: 1.2rem !important;
  font-weight: 900

}