<div class="ui segment main-card">
  <div class="ui grid">
    <div class="sixteen wide column ">
      <div class="main-text">
        <h1>What are you listing?</h1>
      </div>
    </div>
    <div class="ui list listing-list">
      <div class="item">
        <img class="ui avatar image" src="../../../../../assets/images/item.png">
        <div class="content">
          <div class="ui radio checkbox">
            <input type="radio" name="example2" checked="checked">
            <label class="list-name">General item</label>
            <div class="sub-text">descriprion</div>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="ui avatar image" src="../../../../../assets/images/pic.jpg">
        <div class="content">
          <div class="ui radio checkbox">
            <input type="radio" name="example2">
            <label class="list-name">Car, motorbike or boat</label>
            <div class="sub-text">descriprion</div>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="ui avatar image" src="../../../../../assets/images/property.jpg">
        <div class="content">
          <div class="ui radio checkbox">
            <input type="radio" name="example2">
            <label class="list-name">Property</label>
            <div class="sub-text">descriprion</div>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="ui avatar image" src="../../../../../assets/images/job.png">
        <div class="content">
          <div class="ui radio checkbox">
            <input type="radio" name="example2">
            <label class="list-name">Job</label>
            <div class="sub-text">descriprion</div>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="ui avatar image" src="../../../../../assets/images/rent.jpg">
        <div class="content">
          <div class="ui radio checkbox">
            <input type="radio" name="example2">
            <label class="list-name">Rent</label>
            <div class="sub-text">descriprion</div>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="ui avatar image" src="../../../../../assets/images/service.png">
        <div class="content">
          <div class="ui radio checkbox">
            <input type="radio" name="example2">
            <label class="list-name">Services</label>
            <div class="sub-text">descriprion</div>
          </div>
        </div>
      </div>
      <button class="ui right labeled icon button teal btn-next" (click)="stepTwo()">
        <i class="right arrow icon"></i>
        Next
      </button>
    </div>

  </div>
</div>