<div class="container-fluid ">
    <div class=" horizontal icon list steps">
        <span class="item">
            Category
            <i class="chevron right icon"> </i>
        </span>
        <span class="item">
            Details
            <i class="chevron right icon"> </i>
        </span>
        <span class="item">
            Photos
            <i class="chevron right icon"> </i>
        </span>
        <span class="item">
            Extras
            <i class="chevron right icon"> </i>
        </span>
        <span class="item">
            Confirm
        </span>
    </div>
    <router-outlet></router-outlet>

</div>