<div class="ui grid">
  <div class="six wide column black">
      <img src = "../assets/images/sell.jpg" style="width:540px" height="630px">
  </div>
  <div class="ten wide column ui segment">
    <div class="ui form">
        <h1 class="ui dividing header center aligned">User Login</h1>
        <div class="field">
          <label>Email</label>
          <input type="text" name="first-name" placeholder="Email"[(ngModel)]="tempuser.email">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="last-name" placeholder="Password" [(ngModel)]="tempuser.password">
        </div>
        <div class="field">
          Don't have an account, <span class="signuplink" (click)='openSignupUser()'>Signup here</span>
        </div>
        
        <div class="actionset">
            <button class="ui button" type="reset">Cancel</button>
            <button class="ui button teal" type="submit" (click)='signIn()'>SignIn</button>
        </div>
      </div>
  </div>
</div>




