<div class="main-div">
  <app-header></app-header>
  <!-- <app-step-two></app-step-two> -->
  <!-- <app-step-one></app-step-one> -->
  <router-outlet></router-outlet>
  <img src="">
</div>
<footer id="main-footer">
  Copyright &copy 2019
</footer>
